html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: white;
	-webkit-font-smoothing: antialiased; /* сглаживание шрифтов для  safari */
}
header, footer, nav, article { /* для IE */
	display: block;
}
@font-face { /* шрифт для навигации*/
    font-family: "MartaItalic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/MartaItalic/MartaItalic.eot");
    src: url("../fonts/MartaItalic/MartaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MartaItalic/MartaItalic.woff") format("woff"),
    url("../fonts/MartaItalic/MartaItalic.ttf") format("truetype");
}

/*---------- navigation ----------*/
header {
	position: relative;
}
#logo {
	float: left;
}
nav {
	display: inline-block;
	float: right;
	margin: 25px 0;
	font-family: Marta; 
	font-style: italic;
	z-index: 1;
}
nav ul { /* чтоб при масштабировании эл-ты не спадали */
	margin: 0;
	padding: 0;
}
nav li { /* список в одну строку */
	float: left;
	list-style: none;
}
nav a, #touch-menu {
	display: block;
	line-height: 100%;
	font-family: Marta; 
	font-style: italic;
	text-decoration: none;
	color: #231F20;
	background-color: white;
}
#touch-menu {
	display: none;
	position: relative;
	z-index: 1;
}

/* вспомогательные id */
#current {
	text-decoration: none;
	color: white;
	background-color: #d5392c;
	behavior: url(border-radius.htc);
	border-radius: 6px;
	  -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
}
#current:hover {
	color: white;
	text-decoration: none;
	background-color: #b9190c;
	behavior: url(border-radius.htc);
	border-radius: 6px;
	  -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
}
#left {
	text-align: left;
}
#right {
	text-align: right;
}
#center {
	text-align: center;
}

/* общие настройки */
a {
    text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
	color: #d5392c;
}
.sliderbtn, h1, h2, .inline-hovers li, a {
	text-align: center;
	font-family: Philosopher; 
	font-style: normal;
	color: #231F20;
}
p, span, .actor li, .table, .postdate, .timetable-postdate, footer a {
	text-align: justify;
	font-family: PT Sans;
	font-style: normal;
	color: #231F20;
}  

/*---------- afisha ----------*/
.inline-hovers ul {
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 0; /* убирает нежелательные отсутпы у дочерних элементов */
}
.inline-hovers li {
    display: inline-block; /* позволяет vertical-align выравнивать себя по вертикали */
    vertical-align: middle; /* выравнивает */
    margin: 0 10px;
}
.inline-hovers a {
	padding: 10px;
}
.timetable-postdate {
    display: block;
    text-align: center;
	padding: 6px;
    bottom: 0;
    right: 0;
    color: #231F20;
    background-color: #E2E2E2;
    border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
}
.timetable img {
	width: 100%;
	height: auto;
    border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
}
#important {
	color: #d5392c;
	font-weight: bold;
}
#not-active {
	color: #E2E2E2;
}

/*---------- rehpehrtuar ----------*/
#heading {
    margin-bottom: 30px;
}
.performance img {
	max-width: 100%;
	height: auto;
	padding: 10px;
	border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
}
.performance h1, .performance p {
	text-align: center;
	margin: 0;
	padding-top: 10px;
}
img[align="center"], img[align="middle"]{
    display: block;
    margin: 0 auto !important;
}

/*---------- rehpehrtuar/... ----------*/
#half-table td { /* столбцы таблиц по 50% */
	width: 50%;
}
#a-link { /* ссылки на актеров, т.д */
	font-family: PT Sans;
	font-style: normal;
	color: #d5392c;	
	text-decoration: underline;
}
#red-line { /* отступ для перой строки */
	text-indent: 50px;
}
div.table-img { /* боковая картинка для пьесы*/
	text-align: right;
	padding: 10px;
}

/*---------- aktory ----------*/
div.people,  div.actor, .people p, .people h2 { /* выравнивает картинку влево */
	text-align: left;
}
div.people img, div.actor img { /*картина и текст в одну строку */
	float: left;
	padding: 10px;
}

/*---------- aktory/... ----------*/
.actor img, .about img {
	max-width: 100%;
	padding: 10px;
}
.actor h2, .actor p {
	text-align: justify;
	padding: 10px;
}

/*---------- pro-teatr ----------*/
.about {
	padding: 10px;
	margin: 10px;
}
.responsive { 
	height: 0; 
	position: relative; 
	overflow: hidden; 
	padding-bottom: 56.25%; 
} 
.responsive iframe {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
	padding: 20px 0;
}

/*---------- footer ----------*/
footer {
	margin-top: 60px;
    padding: 20px 0;
	background-color: #E2E2E2;
}
footer p {
	font-size: 12px;
}
footer a {
	color: #d5392c;
    text-decoration: none;
}
footer img {
	border: 0;
}
.social-links li {
	display: inline;
	list-style: none;
}



