@media (min-width: 1200px) {
	header, #logo {
	  	height: 95px;
	}
	#logo {
	  	width: 350px;
	}
	nav {
		font-size: 22px;
	}
  	nav a {
		padding: 10px 12px;
	}
	h1 {
		font-size: 26px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 20px;
	}
	p, span, .actor li, .table {
		font-size: 16px;
	}
	.table td {
		padding: 10px;
	}
	.performance {
		height: 310px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	header, #logo {
	  	height: 80px;
	}
	#logo{
	  	width: 300px;
	}
	nav {
		font-size: 20px;
	}
   	nav a {
		padding: 10px 12px;
	}
	h1 {
		font-size: 26px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 20px;
	}
	p, span, .actor li, .table {
		font-size: 16px;
	}
	.performance {
		height: 296px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	header, #logo {
	  	height: 75px;
	}
	#logo {
	  	width: 280px;
	}
	nav {
		font-size: 18px;
	}
	nav a {
		padding: 10px 5px;
	}
	h1 {
		font-size: 26px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 20px;
	}
	p, span, .actor li, .table {
		font-size: 16px;
	}
	.performance {
		height: 296px;
	}
}

/* tablets */
@media (min-width: 613px) and (max-width: 767px)  {
	header, #logo {
		height: 75px;
	}
	#logo {
		width: 280px;
	}
	nav {
		display: none;
		/* чтоб выпадающее меню не сползало */
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		margin: 0;
		behavior: url(border-radius.htc);
		border-radius: 4px;
		  	-webkit-border-radius: 4px;
  			-moz-border-radius: 4px;
 		border: 1px solid #d9d9d9;
		-webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-moz-box-shadow:    3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-o-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		box-shadow:         3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		font-size: 20px;
	}
	nav li {
		float: none;
	}
	nav a {
		padding: 12px;
	}
	#touch-menu {
		display: block;
		float: right;
		font-size: 22px;
		padding: 12px;
	}
	h1 {
		font-size: 24px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 18px;
	}
	p, span, .actor li, .table {
		font-size: 14px;
	}
	.performance {
		height: 296px;
	}
	div.table-img {
		text-align: center;
	}
}

/* phone portrait mode, some tablets */
@media (min-width: 481px) and (max-width: 612px){
	header, #logo {
	  	height: 65px;
	}
	#logo{
	  	width: 240px;
	}
	nav {
		display: none;
		/* чтоб выпадающее меню не сползало */
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		margin: 0;
		behavior: url(border-radius.htc);
		border-radius: 4px;
			-webkit-border-radius: 4px;
  			-moz-border-radius: 4px;
 		border: 1px solid #d9d9d9 ;
		-webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-moz-box-shadow:    3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-o-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		box-shadow:         3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		font-size: 20px;
	}
	nav li {
		float: none;
	}
	nav a {
		padding: 12px;
	}
	#touch-menu {
		display: block;
		float: right;
		font-size: 22px;
		padding: 12px;
	}
	h1 {
		font-size: 24px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 18px;
	}
	.inline-hovers li {
		margin: 0px;
		padding: 10px 5px;
	}
	p, span, .actor li, .table {
		font-size: 14px;
	}
	.performance {
		height: 250px;
	}
	div.people {
		text-align: center;
	}
	div.people img {
		float: none; /* картина и текст в один столбец */
		padding: 10px;
	}
	.people h2, .people p {
		text-align: center;
	}
	.people {
		height: 242px;
	}
	div.table-img {
		text-align: center;
	}
}

/*phones*/
@media (min-width: 320px) and (max-width: 480px) {
	header, #logo {
	  	height: 80px;
	}
	#logo{	  	
		width: 160px;
	}
	nav {
		display: none;
		/* чтоб выпадающее меню не сползало */
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		margin: 0;
		behavior: url(border-radius.htc);
		border-radius: 4px;
			-webkit-border-radius: 4px;
  			-moz-border-radius: 4px;
 		border: 1px solid #d9d9d9;
		-webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-moz-box-shadow:    3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-o-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		box-shadow:         3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		font-size: 16px;
	}
	nav li {
		float: none;
	}
	nav a {
		padding: 12px;
	}
	#touch-menu {
		display: block;
		float: right;
		font-size: 20px;
		padding: 12px;
	}
	h1 {
		font-size: 20px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 16px;
	}
	.inline-hovers li {
		margin: 0px;
		padding: 10px 5px;
	}
	p, span, .actor li, .table {
		font-size: 14px;
	}
	.col-xs-4.timetable {
		padding-right: 0;
	}
	.timetable img {
		display: none;
	}
	.timetable-postdate {
		background-color: white;
		padding-top: 15%;
	}
	.performance {
		height: 250px;
	}
	div.people {
		text-align: center;
	}
	div.people img {
		float: none;/* картина и текст в один столбец */
		padding: 10px;
	}
	.people h2, .people p {
		text-align: center;
	}
	.people {
		height: 320px;
	}
	div.table-img {
		text-align: center;
	}
	footer p {
		font-size: 10px;
	}
	.social-links img{
		width: 40px;
		height: 40px;
		padding: 5px 5px;
	}
}
/* extra small phones */
@media (min-width: 170px) and (max-width: 319px) {
	header, #logo {
	  	height: 60px;
	}
	#logo{	  	
		width: 90px;
	}
	nav {
		display: none;
		/* чтоб выпадающее меню не сползало */
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		margin: 0;
		behavior: url(border-radius.htc);
		border-radius: 4px;
  			-webkit-border-radius: 4px;
  			-moz-border-radius: 4px;
 		border: 1px solid #d9d9d9;
		-webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-moz-box-shadow:    3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		-o-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		box-shadow:         3px 3px 7px 0px rgba(50, 50, 50, 0.36);
		font-size: 12px;
	}
	nav li {
		float: none;
	}
	nav a {
		padding: 6px;
	}
	#touch-menu {
		display: block;
		float: right;
		font-size: 12px;
		padding-top: 12px;
	}
	h1 {
		font-size: 22px;
	}
	h2, .sliderbtn a, .inline-hovers li {
		font-size: 16px;
	}
	.inline-hovers li {
		margin: 0px;
		padding: 10px 5px;
	}
	p, span, .actor li, .table {
		font-size: 12px;
	}
	.col-xs-4.timetable {
		padding-right: 0;
	}
	.timetable img {
		display: none;
	}
	.timetable img {
		display: none;
	}
	.timetable-postdate {
		background-color: white;
		padding: 25% 0;
	}
	.performance {
		height: 210px;
	}
	div.people {
		text-align: center;
	}
	div.people img {
		float: none;/*картина и текст в одну строку*/
		padding: 10px;
	}
	.people h2, .people p {
		text-align: center;
	}
	.people {
		height: 300px;
	}
	div.table-img {
		text-align: center;
	}
	footer p {
		font-size: 10px;
	}
	.social-links img {
		width: 40px;
		height: 40px;
		padding: 5px 5px;
	}
}





